*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    font-size: 3rem;
    background-color: white;
    transition: background-color 0.3s;
}

.cell:not(:disabled):hover {
    background-color: lightgray;
    cursor: pointer;
}

.cell:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.reset-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: lightgray;
}